body {
   font-family: "Bpmf Huninn", sans-serif;
   margin: 0;
}

.hero-text {
   border-radius: 4px;
   margin-left: 5px;
   margin-right: 5px;
   text-shadow: 0 0 1px black;
}

#title {
   background: #b79ced;
   border: 2px solid #b79ced;
   font-size: 16px;
   margin-bottom: 0;
   padding: 5px 10px;
}

#subhead {
   background: #592e83;
   border: 2px solid #592e83;
   font-size: 14px;
   padding: 0;
}

#header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: white;
   background-image: url("images/Huntingtown.jpg");
   background-size: cover;
   height: 180px;
   }

#activities-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #5a189a; 
   margin-top: 0px;
   background-color: lavender;
}

.underline {
    border-bottom: 2px solid #5a189a;
}

#activities {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: start;
   font-size: 12px;
   margin-bottom: 0px;
}

.images {
   width: 70px;
   height: 70px;
   margin: 2px;
   border-radius: 50%;
}

.bold {
   font-weight: bold;
}

.descriptions {
   font-size: 10px;
   margin-top: 0px;
}

#card {
   width: 300px;
   height: 200px;
   margin: 10px auto;
   padding: 0px 20px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;
   background: #bbd0ff;
   color: #5a189a;
   font-size: 14px;
   border-bottom: 6px solid #b8c0ff;
   
}

#card-img {
   width: 120px;
   height: 120px;
}

#info {
   text-align: center;
   color: #5a189a;

}